[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pefile = "*"
pysimplegui = "*"
pyinstaller = "*"
openpyxl = "*"
wakeonlan = "*"

[dev-packages]

[requires]
python_version = ">=3.8"
